<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js ie lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]> <html class="no-js ie lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{app.title}}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <script src="scripts/libs/modernizr.js"></script>
    <!--[if lt IE 9]> <script src="scripts/libs/html5shiv-printshiv.js"></script> <![endif]-->

    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>

{{> header}}

{{> body}}

{{> footer}}



<!--[if lt IE 9]> <script src="scripts/libs/respond.min.js"></script> <![endif]-->

<!-- jQuery - if CDN unavailable, load from local -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="scripts/libs/jquery-1.11.0.min.js">\x3C/script>')</script>

<!-- app scripts -->
<script src="scripts/app.js"></script>


</body>
</html>
