<section id="home" class="home view">

	<h1>Hello World and Welcome to WVC</h1>

	<p>Will's Views and Controllers (WVC) is a simple JavaScript technique that takes some of the concepts from larger MVC frameworks.  But it only takes the bits needed for small to medium webapps.</p>

	<p>Using WVC will help structure your code and associate it to DOM elements, without getting in the way, or making you learn ANOTHER Framework - its just JavaScript.</p>

	<p>WVC does not stop you from building fast JS applications, you can pre-cache your elements before initialisation, and all views init in DOM order.</p>

</section>